.button-container{
    height: 82px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 25px;
    border: 2px solid white;
    margin: 4px;
    cursor: pointer;
    user-select: none;
}

.button-container:hover{
    background-color: rgb(79, 79, 79);
}

.operator{
    background-color: #b9b9b9;
}

.operator:hover{
    background-color: #d1d1d1;
}

