.clear-button{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #e4e4e4;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgb(32, 32, 32);
    border: 2px solid white;
    border-radius: 50px;
    cursor: pointer;
}

.clear-button:hover{
    background-color: #e4e4e4b5;
}